{% load staticfiles %}

<!DOCTYPE html>
<html>
<head>
    <title>Honors Mentoring</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="{% static 'bower_components/bootstrap/dist/css/bootstrap.min.css' %}"/>
    <script src="{% static 'bower_components/jquery/dist/jquery.min.js' %}"></script>
    <script src="{% static 'bower_components/bootstrap/dist/js/bootstrap.min.js' %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}"/>
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <script>
        function getCookie(name) {
            var dc = document.cookie;
            var prefix = name + "=";
            var begin = dc.indexOf("; " + prefix);
            if (begin == -1) {
                begin = dc.indexOf(prefix);
                if (begin != 0) return null;
            } else {
                begin += 2;
            }
            var end = document.cookie.indexOf(";", begin);
            if (end == -1) {
                end = dc.length;
            }
            return unescape(dc.substring(begin + prefix.length, end));
        }

        $.ajaxSetup({
            headers: {"X-CSRFToken": getCookie("csrftoken")}
        });
    </script>
    <script src="{% static 'js/admin_home.js' %}"></script>
    {% block head %}{% endblock %}
</head>
<body>
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">Honors Mentoring</a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav">
                {% if user.is_superuser %}
                    <li><a href="/honorsAdmin">Admin Home</a></li>
                    <li><a href="/honorsAdmin/mentors">Mentors</a></li>
                    <li><a href="/honorsAdmin/mentees">Mentees</a></li>
                    <li><a href="/honorsAdmin/pairs">Mentor/Mentee Pairs</a></li>
                    <li><a href="/honorsAdmin/mentee/0/getallmatches">Matchless Mentees</a></li>
                    <li><a href="/honorsAdmin/invite">Invite</a></li>
                {% endif %}
            </ul>
            <ul class="nav navbar-nav navbar-right">
            </ul>
        </div>
    </div>
</nav>
<div style="padding-top: 50px"></div>
{% if messages %}
    {% for message in messages %}
        <div {% if message.tags %} class="alert top-message alert-{{ message.tags }} {% if message.tags == 'error' %}alert-danger{% endif %}"{% endif %}>{{ message|linebreaks }}</div>
    {% endfor %}
{% endif %}


<div style="padding-top: 15px; padding-bottom: 15px;">
    {% block content %}{% endblock %}
</div>


<div id="viewing-modal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title" id="viewing-modal-title"></h4>
            </div>
            <div id="modal-content">
            </div>
            <div class="modal-footer">
            </div>
        </div>

    </div>
</div>
</body>
</html>
