{% extends "base.html" %}

{% block head %}
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/index.css' %}"/>
{% endblock %}

{% block content %}
    <div class="container">
        <h2>Hawkeye Challenge</h2>

        {% for contest in contests %}
            <div class="row">
                <div class="col-md-4">
                    <h3 class="contest-title">{{ contest.title }}</h3>
                </div>
                <div class="col-md-2">
                    {% if contest == selected_contest %}
                        <a href="pickContest/{{ contest.id }}"
                           class="btn btn-primary contest-button"
                           disabled>
                            Current Contest
                        </a>
                    {% elif not contest.active %}
                        <a href="pickContest/{{ contest.id }}"
                           class="btn btn-default contest-button"
                           disabled>
                            Inactive Contest
                        </a>
                    {% else %}
                        <a href="pickContest/{{ contest.id }}"
                           class="btn btn-primary contest-button">
                            Select Contest
                        </a>
                    {% endif %}
                </div>
            </div>
            <div class="row">
                {% if contest.active %}
                    <div class="contest-time">Contest active since {{ contest.start_date }}</div>
                {% elif contest.closed %}
                    <div class="contest-time">Contest closed</div>
                {% else %}
                    <div class="contest-time">Contest opens on {{ contest.start_date }}</div>
                {% endif %}
            </div>
        {% endfor %}
    </div>
{% endblock %}
