{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" type="image/png" sizes="16x16"
          href="https://honors.uiowa.edu/profiles/sitenow/modules/custom/uiowa_favicon/assets/favicon-16x16.png"/>

    <title>Honors Mentoring</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" type="text/css" href="{% static 'bower_components/bootstrap/dist/css/bootstrap.min.css' %}"/>
    <script src="{% static 'bower_components/jquery/dist/jquery.min.js' %}"></script>
    <script src="{% static 'bower_components/bootstrap/dist/js/bootstrap.min.js' %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js"
            integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb"
            crossorigin="anonymous"></script>
    <!-- Custom styles for this template -->
    <link href="{% static 'css/cover.css' %}" rel="stylesheet">
</head>

<body>

<div class="site-wrapper">

    <div class="site-wrapper-inner">

        <div class="cover-container">

            <div class="masthead clearfix">
                <div class="inner">
                    <nav class="navbar navbar-inverse navbar-fixed-top">
                        <div class="container">
                            <div class="navbar-header">
                                <a class="navbar-brand" href="/">Honors Mentoring</a>
                            </div>
                            <div class="collapse navbar-collapse" id="myNavbar">
                                <ul class="nav navbar-nav">
                                    {% if user.is_superuser %}
                                        <li><a href="/honorsAdmin">Admin Home</a></li>
                                        <li><a href="/honorsAdmin/mentors">Mentors</a></li>
                                        <li><a href="/honorsAdmin/mentees">Mentees</a></li>
                                        <li><a href="/honorsAdmin/pairs">Mentor/Mentee Pairs</a></li>
                                        <li><a href="/honorsAdmin/mentee/0/getallmatches">Matchless Mentees</a></li>
                                        <li><a href="/honorsAdmin/invite">Invite</a></li>
                                    {% endif %}
                                </ul>
                            </div>
                        </div>
                    </nav>
                </div>
            </div>

            <div class="inner cover">
                <h1 class="cover-heading">Join Honors Mentoring</h1>
                <p class="lead">We work to pair alumni with current students based on both parties preferences, allowing
                    current students to benefit from the wealth of knowledge and experiences our alumni have!</p>
                <p class="lead">
                    <a href="/newmentor" class="btn btn-lg btn-secondary">New Mentors</a>
                    <a href="/newmentee" class="btn btn-lg btn-secondary">New Mentees</a>
                </p>
            </div>


        </div>

    </div>

</div>
</body>
</html>
