.login-container {
    display: table;
    width: 100%;
    height: 500px;
}

.login-middle-container {
    display: table-cell;
    vertical-align: middle;
}

.login-inner {
    margin-left: auto;
    margin-right: auto;
    position: relative;
    max-width: 600px;
    /*height: 240px;*/
    padding: 10px;
    border: 1px solid #ddd;
    background: #efefef;
    border-radius: 10px;
}

.login-title {
    margin-top: 0;
}