.question {
    padding-top: 7px;
    padding-bottom: 7px;
}

.question .question-title {
    margin-top: 6px;
    margin-bottom: 0;
}

.question .question-body {
    margin-top: 15px;
    margin-bottom: 100px;
}
.question .question-button {
    width: 100%;
}

.question .question-status {
    padding: 7px;
    font-size: 18px;
}

.question .question-attempts {
    padding: 7px;
    font-size: 18px;
}

.glyphicon.spinning {
    animation: spin 1s infinite linear;
    -webkit-animation: spin2 1s infinite linear;
}

@keyframes spin {
    from { transform: scale(1) rotate(0deg); }
    to { transform: scale(1) rotate(360deg); }
}

@-webkit-keyframes spin2 {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(360deg); }
}

.test-case-results-list {
    padding: 0;
}

.split-view-container {
    width: 100%;
    padding: 10px;
}

.right-split-container {
    padding-top: 133px;
}

.question-container {
    display: flex;
    margin-bottom: 51px;
}

.question-navbar {
    border-top: 1px solid #bbb
}

.question-spinner-img {
    width: 32px;
    height: 32px;
}

.question-spinner-div {
    text-align: center;
}

.clarify-textarea {
    border-radius: 0;
    resize: vertical;
}