{% extends "base.html" %}

{% block content %}
    <div class="container">
        <div class="card">
            <h1>Honors Mentoring Mentors</h1>

            <table class="table">
                <thead>
                <tr>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Gender</th>
                    <th>Active</th>
                    <th>Approved</th>
                    <th></th>
                </tr>
                </thead>
                {% for mentor in mentors %}
                    <tr>
                        <td><a href="/honorsAdmin/mentor/{{ mentor.id }}/view/" class="popup">{{ mentor.full_name}}</a></td>
                        <td>{{ mentor.mentorcontactinformation.primary_email }}</td>
                        <td>{{ mentor.get_gender_display }}</td>
                        <td>{{ mentor.active }}</td>
                        <td>{{ mentor.approved }}</td>
                        <td><a href="/admin/mentoring/mentor/{{ mentor.id }}/change/">Edit</a></td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>
{% endblock %}
