{% extends "base.html" %}

{% block content %}
    <div class="container">
        <div class="card">
            <h1>Honors Mentoring Mentees</h1>

            <table class="table">
                <thead>
                <tr>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Gender</th>
                    <th>Approved</th>
                    <th></th>
                </tr>
                </thead>
                {% for mentee in mentees %}
                    <tr>

                        <td><a href="/honorsAdmin/mentee/{{ mentee.id }}/details/">{{ mentee.full_name }}</a></td>
                        <td>{{ mentee.menteecontactinformation.primary_email }}</td>
                        <td>{{ mentee.gender }}</td>
                        <td>{{ mentee.approved }}</td>
                        <td><a href="/admin/mentoring/mentee/{{ mentee.id }}/change/">Edit</a></td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>
{% endblock %}
