{% extends "base.html" %}

{% block content %}
    <div class="container">
        <div class="card">
            <h1>Honors Mentoring Pairs</h1>

            <table class="table">
                <thead>
                <tr>
                    <th>Mentor Name</th>
                    <th>Mentee Name</th>
                    <th>Active</th>
                    <th>Start Date</th>
                    <th>End Date</th>
                </tr>
                </thead>
                {% for pairing in pairings %}
                    <tr>
                        <td>
                            <a href="/honorsAdmin/mentor/{{ pairing.mentor_id }}/view/" class="popup">{{ pairing.mentor.full_name }}</a>
                        </td>
                        <td>
                            <a href="/honorsAdmin/mentee/{{ pairing.mentee_id }}/view/" class="popup">{{ pairing.mentee.full_name }}</a>
                        </td>
                        <td>{{ pairing.is_active }}</td>
                        <td>{{ pairing.start_date }}</td>
                        <td>{{ pairing.end_date }}</td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>
{% endblock %}
